body {
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
}
.perfil{
    background-image: url(../assets/Foto.jpeg);
    background-repeat: no-repeat;
    border-radius: 50%;


}